#Contact {
	.hl-container {
		.hl-main-contact-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 40px auto;

			.hl-phone-extensions {
				width: 65%;
			}

			.hl-main-contact {
				width: 35%;
				
				p {
					text-transform: uppercase;
					font-weight: 700;
					margin-bottom: 30px;
				}

				a {
					display: block;
					color: $rangoon-green;
					font-size: 18px;
					line-height: 1.6;
					margin-top: 15px;
					font-weight: 200;
					display: flex;
					align-items: center;

					&:hover {
						color: $sandal;
					}

					svg {
						margin-right: 10px;
						font-size: 28px;
					}
				}
			}
		}
	}

	.hl-contact-form-container {
		.hl-contact-form-bg {
			z-index: -1;
		}

		.hl-contact-form-shortcode {
			padding: 80px 0;

			.hl-section-title-box {
				.hl-section-sub-title,
				.hl-section-title {
					color: $c-white;

					&::after {
						background-color: $c-white;
					}
				}
			}

			#contact-us-form {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				input, textarea {
					width: 100%;
				    padding: 0 0 10px;
				    border: 0;
				    border-bottom: 1px solid #fff;
				    background: none;
				    color: #fff;
				    margin: 30px auto;
				    transition: all 0.3s;

				    &:focus {
				    	border-color: $astronaut-blue;
				    	transition: all 0.3s;
				    }
				}

				.wpcf7-submit {
				    background-color: #044770;
				    border: none;
				    width: inherit;
				    padding: 8px 25px;
				    text-align: center;
				    position: absolute;
				    left: 50%;
				    transform: translateX(-50%);
				}

				.contact-us-col-5 {
					width: calc(50% - 15px);
					
					label {
						width: 100%;

						input {
							width: 100%;
						}
					}

					&:first-child {
						margin-right: 15px;
					}

					&:nth-child(2) {
						margin-left: 15px;
					}
				}

				.contact-us-col {
					width: 100%;

					textarea {
						width: 100%;
					}
				}
			}
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		.hl-container {
			.hl-main-contact-container {

				.hl-phone-extensions {
					width: 100%;
					order: 2;
				}

				.hl-main-contact {
					width: 100%;
					margin-bottom: 30px;
					text-align: center;
					order: 1;

					a {
						display: block;
					}
				}
			}
		}

		.hl-contact-form-container {
			.hl-contact-form-shortcode {
				#contact-us-form {
					.contact-us-col-5 {
						width: 100%;

						&:first-child {
							margin-right: 0;
						}

						&:nth-child(2) {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}