.raleway {
  font-family: 'Raleway', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

a, p, li, span, b, i, strong, label, input, th, td, select {
 font-family: 'Roboto', sans-serif;
}

p {
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 1.8;
  color: $dove-gray;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: $dove-gray;
  line-height: 1;
}

h4 {
  font-size: 18px;
  font-weight: 400;

}

p {
  font-size: 16px;
  font-weight: 200;
}

a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $c-white;
  &:hover {
    color: $sandal;
  }
}

.text-bold {
  font-weight: 500 !important;
}

.text-center {
  text-align: center !important;
}