#PostsPage {
	margin-bottom: 40px;

	.hl-posts-container {
		.hl-post {
			background-color: $hint-white;
			padding: 30px;
			margin: 30px auto;

			.hl-post-title {
				color: $dove-gray;
				font-weight: 700;
				text-transform: uppercase;
				font-size: 15px;
				margin-bottom: 1rem;
				font-family: 'Raleway', sans-serif;

				&:hover {
					color: $sandal;
				}
			}

			.hl-post-excerpt {
				font-weight: 200;
				font-size: 16px;
			}

			.hl-post-link {
				color: $dove-gray;
				font-weight: 200;

				&:hover {
					color: $sandal;
				}
			}
		}
	}	
}