#SingPost {
	margin-bottom: 40px;

	.hl-post-title-container {
		border-top: 5px solid $astronaut-blue;
		border-bottom: 1px solid $white-mercury;
		margin-bottom: 15px;
		padding-bottom: 15px;

		.hl-post-title {
			margin: 15px auto;
			color: $c-black;
			font-weight: 700;
			font-size: 30px;
			line-height: 1.2;
		}

		.hl-post-views {
			font-weight: 200;
		}
	}

	.hl-post-content {
		p {
			font-weight: 200;
			font-size: 15px;
		}
	}

	.hl-next-prev-post {
		display: inline-block;
		width: 100%;
		margin-top: 30px;
		padding: 30px 0;
		border-top: 1px solid $mercury;
		border-bottom: 1px solid $mercury;

		.next-post {
			float: right;
			text-align: right;
			font-weight: 200;
		}

		.prev-post {
			float: left;
			font-weight: 200;
		}

		a {
			color: $dove-gray;

			&:hover {
				color: $sandal;
			}
		}
	}
}