.hl-home-partner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.hl-partner {
		width: calc(100%/5);
		padding: 15px 20px;
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-partner {
			width: calc(100%/4);
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		.hl-partner {
			width: calc(100%/2);
		}
	}
}