.hl-portfolio-container {
	display: flex;
	flex-wrap: wrap;

	.hl-portfolio-box {
		width: calc(100%/4 - 30px);
		margin: 0 15px;
		background-color: $gallery;

		.hl-portfolio-img-box {
			width: 100%;
			padding-bottom: 158%;
		}

		.hl-portfolio-overlay {
			text-align: center;
			background-color: $astronaut-blue;
			top: 0;
			height: 0;
			transition: height 0.5s ease-in-out;

			.hl-portfolio-content {
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $c-white;
				opacity: 0;
				transition: opacity 0.5s ease-in-out;

				.hl-portfolio-manager {
					font-size: 20px;
				}
				
				.hl-portfolio-title {
					color: $c-white;
					margin: 10px auto 20px;
				}

				a {
					border: 1px solid $c-white;
					padding: 8px 10px;
					border-radius: 5px;
					color: $c-white;
					
					svg {
						width: 14px;
						height: 14px;
					}
				}
			}
		}

		&:hover {
			.hl-portfolio-overlay {
				height: 100%;

				.hl-portfolio-content {
					opacity: 1;
				}
			}
		}

		.hl-portfolio-content {
			padding: 20px;

			.hl-portfolio-manager {
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				margin: 5px auto;
			}

			.hl-portfolio-title {
				font-weight: 300;
				margin: 5px auto;
				color: $dove-gray;
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-portfolio-box {
			width: calc(100%/2 - 30px);
			margin: 15px;
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		.hl-portfolio-box {
			width: calc(100%);
			margin: 10px 15px;
		}
	}
}