.hl-home-team {
	.hl-team-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: justify;

		.hl-team-box {
			width: calc(100%/3 - 20px);
			margin: 15px;
			text-align: center;
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
			color: $monsoon;
			transition: all 0.3s ease-in-out;

			&:nth-child(1),
			&:nth-child(4) {
				margin-left: 0;
			}

			&:nth-child(3),
			&:nth-child(6) {
				margin-right: 0;
			}

			.hl-team-img-box {
				width: 100%;
				padding-bottom: 100%;
				background-color: $astronaut-blue;
				border: 0px solid $astronaut-blue;
				transition: border-width 0.3s ease-in-out;
			}

			.hl-team-overlay {
				background-color: $astronaut-blue;
				opacity: 0.6;
				height: 0;
				transition: height 0.3s ease-in-out;
			}

			.hl-arrow {
				left: 45%;
				opacity: 0;
				transition: all .35s ease-in-out;

				img {
					width: 36px;
					height: 36px;
				}
			}

			.hl-team-content {
				padding: 20px;
				color: $monsoon;

				a {
					color: $monsoon;
					font-weight: 200;
				}

				.hl-team-name {
					font-weight: 700;
					text-transform: uppercase;
					font-size: 20px;
				}

				.hl-team-cat {
					font-size: 18px;
				}

				.hl-team-btn:hover {
					color: $sandal;
				}
			}

			&:hover {
				.hl-team-img-box {
					border-width: 5px;
					transition: border-width 0.3s ease-in-out;
				}

				.hl-team-overlay {
					height: 100%;
					transition: all 0.3s ease-in-out;
				}

				.hl-arrow {
					left: 50%;
					opacity: 1;
				}

				.hl-team-content {
					transition: all 0.3s ease-in-out;
					background-color: $astronaut-blue;
					color: $c-white;
					
					a {
						color: $c-white;
					}

					.hl-team-btn {
						color: $sandal;
					}
				}
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-team-container {
			.hl-team-box {
				width: calc(100%/2 - 10px);
				margin: 10px !important;

				&:nth-child(2n - 1) {
					margin-left: 0 !important;
				}

				&:nth-child(2n) {
					margin-right: 0 !important;
				}
			}
		}
	}

	// MOBILE
	@media only screen and (max-width: 768px) {
		.hl-team-container {
			.hl-team-box {
				width: calc(100%);
				margin: 10px auto !important;

				&:nth-child(2n - 1) {
					margin-left: auto !important;
				}

				&:nth-child(2n) {
					margin-right: auto !important;
				}
			}
		}
	}
}