footer {
	background-color: $rangoon-green;

	.hl-container {
		/*
		* FOOTER LOGO
		*/
		.hl-footer-logo {
			padding: 40px 0;
    		border-bottom: 1px solid $jaguar;

			.hl-footer-logo-box {
				width: 35%;
				padding-bottom: 7%;
				margin: 0 auto 40px;
			}

			.hl-footer-social {
				width: 100%;
				text-align: center;

				a {
					margin: 0 2.5px;
					padding: 7.5px 11px;
					border: 1px solid $jaguar;
					background-color: $space-grey;
					transition: all 0.3s ease-in-out;

					svg {
						width: 12.25px;
						height: 14px;
					}

					&:hover {
						color: $c-white;
						background-color: $astronaut-blue;
					}
				}
			}
		}

		/*
		* FOOTER WIDGET
		*/
		.hl-footer-widget {
			padding: 40px 0;
			margin-top: 2px;
			border-top: 1px solid $jaguar;
			border-bottom: 1px solid $jaguar;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			.hl-widget {
				width: calc(100%/3 - 15px);
				margin-right: 15px;

				.hl-widget-title {
					color: $c-white;
					padding-bottom: 15px;
					margin-bottom: 30px;
					position: relative;
					font-size: 24px;
					font-weight: 600;

					&::after {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						display: block;
						width: 15%;
						border-bottom: 1px solid $astronaut-blue;
					}
				}

				.hl-widget-content {
					color: $monsoon;
					font-weight: 200;

					svg {
						margin-right: 5px;
					}

					a {
						color: $monsoon;
						font-weight: 200;

						&:hover {
							color: $sandal;
						}
					}

					ul li {
						margin-bottom: 20px;
					}

					input {
						width: 100%;
					    padding: 0px 0px 10px;
					    border: 0px;
					    border-bottom: 1px solid #fff;
					    background: none;
					    color: #fff;
					    margin-bottom: 15px;
					    font-weight: 200;
					}

					.wpcf7-submit {
						background-color: #044770;
						border: none;
						width: inherit;
						padding: 8px 25px;
					}
				}
			}
		}

		/*
		* FOOTER COPYRIGHT
		*/
		.hl-footer-copyright {
			width: 100%;
    		padding: 30px 0px;
    		margin-top: 2px;
    		border-top: 1px solid $jaguar;
    		font-weight: 200;

    		p {
    			margin: 0;
    			color: $c-white;
    			font-size: 14px;
    			line-height: 1.4;
    		}

    		a {
    			color: $monsoon;
    			font-weight: 200;

    			&:hover {
    				color: $astronaut-blue;
    			}
    		}
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		.hl-container {
			/*
			* FOOTER LOGO
			*/
			.hl-footer-logo {
				padding: 30px 0;

				.hl-footer-logo-box {
					width: 57%;
					padding-bottom: 12%;
					margin: 0 auto 30px;
				}
			}

			/*
			* FOOTER WIDGET
			*/
			.hl-footer-widget {
				padding: 30px 0 0;

				.hl-widget {
					width: calc(100%);
				}
			}
		}
	}
}