img {
	width: 100%;
	height: 100%;
}

.hl-container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.hl-space {
	padding: 50px 0;
}

.overflow-hidden {
	overflow: hidden;
}

.bg-cover {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-contain {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.center-pos-a {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

blockquote {
	padding: 10px 20px;
	margin: 20px auto;
	border-left: 5px solid #eee;

	p {
		font-size: 18px;
	}
}

.hl-readmore {
	color: $dove-gray;
	font-weight: 600;
	font-size: 16px;

	&:hover {
		color: $sandal;
	}
}

.wpcf7-submit {
	background-color: #044770;
	border: none;
	width: inherit;
	padding: 8px 25px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: $c-black !important;
	}
}

/*
* SECTION TITLE & SUB TITLE
*/
.hl-home-section {
	margin: 60px auto;

	// TABLET
	@media only screen and (max-width: 768px) {
		margin: 35px auto;
	}
}

.hl-section-title-box {
	text-align: center;
	margin-bottom: 30px;

	.hl-section-sub-title {
		font-size: 14px;
	    text-transform: uppercase;
	    font-weight: 700;
	    line-height: normal;
	    margin-bottom: 1px;
	    letter-spacing: 2.4px;
	    color: $astronaut-blue;
	    font-family: 'Raleway', sans-serif;
	}

	.hl-section-title {
		text-transform: uppercase;
	    font-weight: bold;
	    padding-bottom: 6px;
	    position: relative;
	    font-size: 30px;
	    color: $astronaut-blue;
	    font-family: 'Raleway', sans-serif;

		&::after {
			content: "";
		    position: absolute;
		    bottom: 0px;
		    left: 0px;
		    right: 0px;
		    margin: auto;
		    width: 75px;
		    height: 3px;
		    top: 46px;
		    background-color: $sandal;
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		.hl-section-sub-title {
			font-size: 12px;
		}

		.hl-section-title {
			font-size: 24px;

			&::after {
				top: 80px;
			}
		}
	}
}

// For Section title without sub title
.hl-section-title {
	text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 6px;
    margin-bottom: 20px;
    position: relative;
    font-size: 30px;
    color: $rangoon-green;
    text-align: center;

	&::after {
		content: "";
	    position: absolute;
	    bottom: 0px;
	    left: 0px;
	    right: 0px;
	    margin: auto;
	    width: 75px;
	    height: 3px;
	    top: 46px;
	    background-color: $sandal;
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		font-size: 24px;

		&::after {
			top: 39px;
		}
	}
}