header {
	.hl-header-topbar {
		background-color: $rangoon-green;
		padding: 10px;

		.topbar-box {
			width: fit-content;

			a {			
				font-weight: 200;

				svg {
					margin-right: 5px;
				}
			}

			&:first-child {
				float: left;

				a {
					padding-right: 10px;
				}
			}

			&:last-child {
				float: right;

				a {
					padding: 7.5px;
				}
			}
		}
	}

	.hl-header-main {
		background: $c-white;
		width: 100%;
		padding: 20px 0;

		.hl-container {
			display: flex;
			flex-wrap: wrap;

			.hl-logo {
				width: 42%;
				padding-bottom: 9%;
			}

			.hl-nav-container {
				width: 58%;

				.hl-nav-img {
					top: 0;
					right: 0;
				}

				#Main_Menu {
					position: absolute;
					bottom: 0;
					right: 0;
					display: inline-block;
					text-align: right;

					> .menu-item {
						float: left;
						padding: 10px 20px;
						transition: all 0.2s ease-in-out;
						position: relative;

						> a {
							color: $astronaut-blue;
							font-size: 16px;
							font-weight: 200;
							transition: all 0.2s ease-in-out;
						}

						&.menu-item-has-children {
							.sub-menu {
								position: absolute;
							    width: 200px;
							    top: 100%;
							    left: 0px;
							    background-color: $c-white;
							    z-index: 9;
							    visibility: hidden;
							    opacity: 0;
							    padding-top: 20px;
							    transition: all 0.2s ease-in-out;

								> li {
									text-align: left;
									padding: 10px 20px;

									a {
										color: $astronaut-blue;
										font-size: 16px;
										font-weight: 200;
										transition: all 0.2s ease-in-out;
									}

									&:hover {
										background-color: $astronaut-blue;

										> a {
											color: $sandal;
										}
									}
								}
							}
						}

						&:hover {
							background-color: $astronaut-blue;
							
							> a {
								color: #A78D66;
							}

							.sub-menu {
								visibility: visible;
							    opacity: 1;
							}
						}

						&.current-menu-item {
							background-color: $astronaut-blue;

							> a {
								color: #A78D66;
							}
						}
					}
				}
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-header-main {
			.hl-container {
				.hl-nav-container {
					.hl-nav-img {
						top: 50%;
						left: 25px;
						transform: translateY(-50%);
						text-align: center;
						width: fit-content;
					}

					#Main_Menu {
						display: none;
					}
				}
			}
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		.hl-header-topbar {
			text-align: center;

			.topbar-box {
				width: 100%;
				float: none !important;

				&:first-child {
					a {
						display: block;
						padding: 5px;
					}
				}

				&:last-child {
					a {
						padding: 0 7.5px;
					}
				}
			}
		}

		.hl-header-main {
			padding: 10px 0;

			.hl-container {
				justify-content: center;

				.hl-logo {
					width: 80%;
					padding-bottom: 17%;
				}

				.hl-nav-container {
					width: 100%;
					padding-bottom: 20%;

					.hl-nav-img {
						left: 0;
						text-align: left;

						img {
							width: 80%;
						}
					}

					#Main_Menu {
						display: none;

						.menu-item {
							float: left;
							padding: 10px 20px;
							transition: all 0.2s ease-in-out;

							a {
								color: $astronaut-blue;
								font-size: 16px;
								font-weight: 200;
								transition: all 0.2s ease-in-out;
							}

							&:hover {
								background-color: $astronaut-blue;

								a {
									color: #A78D66;
								}
							}
						}
					}
				}
			}
		}
	}
}