// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ic-archive-name: 'ic-archive';
$ic-archive-x: 0px;
$ic-archive-y: 0px;
$ic-archive-offset-x: 0px;
$ic-archive-offset-y: 0px;
$ic-archive-width: 32px;
$ic-archive-height: 32px;
$ic-archive-total-width: 64px;
$ic-archive-total-height: 32px;
$ic-archive-image: '../images/sprites.png';
$ic-archive: (0px, 0px, 0px, 0px, 32px, 32px, 64px, 32px, '../images/sprites.png', 'ic-archive', );
$ic-bell-name: 'ic-bell';
$ic-bell-x: 32px;
$ic-bell-y: 0px;
$ic-bell-offset-x: -32px;
$ic-bell-offset-y: 0px;
$ic-bell-width: 32px;
$ic-bell-height: 32px;
$ic-bell-total-width: 64px;
$ic-bell-total-height: 32px;
$ic-bell-image: '../images/sprites.png';
$ic-bell: (32px, 0px, -32px, 0px, 32px, 32px, 64px, 32px, '../images/sprites.png', 'ic-bell', );
$spritesheet-width: 64px;
$spritesheet-height: 32px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($ic-archive, $ic-bell, );
$spritesheet: (64px, 32px, '../images/sprites.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
