#FirmFounder {
	.hl-founder-container {
		display: flex;
		flex-wrap: wrap;
		margin: 40px auto;
		justify-content: center;

		.hl-founder-img {
			width: 35%;
			margin: 0 auto;

			img {
				width: 100%;
				height: inherit !important;
			}
		}

		.hl-founder-content {
			width: 50%;
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-founder-container {
			flex-direction: column;

			.hl-founder-img {
				width: 50%;
				margin: 0 auto 30px;
			}

			.hl-founder-content {
				width: 100%;
			}
		}
	} 
}