#OurTeam {
	padding: 30px 0;

	.hl-team-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: justify;
		margin: 40px auto;

		.hl-team-box {
			width: calc(100%/2 - 30px);
			margin: 20px 30px;
			display: inline-block;

			&:nth-child(2n - 1) {
				margin-left: 0;
			}

			&:nth-child(2n) {
				margin-right: 0;
			}

			.hl-team-overlay {
				opacity: 0;
				background-color: $astronaut-blue;
				width: 100%;
				height: 0;
				transition: all 0.3s ease-in-out;
			}

			&:hover {
				.hl-team-overlay {
					opacity: 0.5;
					height: 100%;
					transition: all 0.3s ease-in-out;
				}
			}

			.hl-team-img-box {
				float: left;
				width: 50%;
				padding-bottom: 50%;
			}

			.hl-team-content {
				float: left;
				width: 50%;
				background-color: $c-white;
				padding: 40px 30px;
    			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.18);
				position: absolute;
				right: 30px;
				top: 50%;
				transform: translateY(-50%);

    			.hl-team-name {
					color: $dove-gray;
					font-size: 18px;
					font-weight: 700;
					text-transform: uppercase;
    			}

    			.hl-team-cat {
    				color: $dove-gray;
					font-size: 18px;
					font-weight: 300;
					text-transform: capitalize;
    			}
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-team-container {
			.hl-team-box {
				width: calc(100%/2 - 10px);
				margin: 20px 5px;
			}
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		padding: 0;

		.hl-team-container {
			.hl-team-box {
				width: calc(100%);
				margin: 20px auto;
			}
		}
	}
}