#MobileMenu {
	display: none;
	height: 0;
	visbility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;

	&.activeMobileMenu {
		height: inherit !important;
		visibility: visible;
		opacity: 1;
		transition: all 0.3s ease-in-out;
	}

	ul {
		padding: 20px;
		background-color: $rangoon-green;

		li {
			padding: 10px 0;

			a {
				color: $c-white;
				font-size: 18px;
				text-transform: uppercase;
			}

			&.menu-item-has-children {
				> a {
					&::after {
						margin-left: 5px;
						content: "  \25be";
					}
				}

				.sub-menu {
					padding: 5px 20px;
					height: 0;
					position: absolute;
					opacity: 0;
					visibility: hidden;
					transition: height 0.3s ease-in-out;
				}

				&.active-mobile-sub-menu {
					.sub-menu {
						height: 5em;
						position: relative;
						opacity: 1;
						visibility: visible;
						transition: height 0.3s ease-in-out;
					}
				}
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) { 
		display: block;
	}
}