#PageTitle {
	margin-bottom: 30px;
	
	.page-title-bg {
		// padding-bottom: 21%;
		min-height: 350px;
    	height: 100%;

		.hl-pagetitle-title {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			text-transform: uppercase;
			color: $c-white;

			h2 {
				margin: 15px auto;
				font-weight: 600;
				font-size: 30px;
			}

			.hl-pagetitle-breadcrumb {
				a {
					padding: 0 10px;
					font-size: 12px;

					&:hover {
						color: $c-white;
					}
				}

				svg {
					font-size: 12px;
				}

				span {
					> span {
						padding: 0 10px;
						font-size: 12px;	
					}
				}
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.page-title-bg {
			padding-bottom: 30%;

			.hl-pagetitle-title {
				width: 90%;

				h2 {
					font-size: 24px;
				}

				.hl-pagetitle-breadcrumb {
					a {
						font-size: 10px;
					}

					svg {
						font-size: 10px;
					}

					span {
						> span {
							font-size: 10px;	
						}
					}
				}
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 480px) {
		.page-title-bg {
			padding-bottom: 80%;

			.hl-pagetitle-title {
				width: 90%;

				h2 {
					font-size: 18px;
				}
			}
		}
	}
}