.hl-pagination {
	.page-numbers {
		color: $dove-gray;
		font-size: 16px;
		border: 1px solid $rangoon-green;
		padding: 5px 10px;
		transistion: all 0.3s;

		&.current {
			background-color: $rangoon-green;
			font-size: 16px;
			color: $c-white;
		}

		&:hover {
			background-color: $rangoon-green;
			color: $c-white;
		}
	}
}