#SingleTeam {
	.hl-team {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		border-bottom: 1px solid $mercury;
		padding-bottom: 60px;

		.hl-team-avatar {
			width: calc(41% - 30px);
			margin-right: 30px;
		}

		.hl-team-desc {
			width: 59%;

			> h3 {
				font-size: 28px;
				font-weight: 700;
				color: $rangoon-green;
				text-transform: uppercase;
			}

			.hl-team-desc-content {
				margin: 15px auto 0;
			}
		}
	}

	.hl-team-content {
		border-top: 1px solid $mercury;
		border-bottom: 1px solid $mercury;
		padding: 60px 0 30px;
		margin-top: 2px;
		margin-bottom: 2px;

		a {
			font-size: 16px;
		}

		img {
			width: 60%;
			margin: 0 auto;
		}
	}

	.hl-border {
		border-top: 1px solid $mercury;
		padding-bottom: 30px;
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-team {
			padding-bottom: 15px;

			.hl-team-avatar {
				width: 100%;
				margin-right: 0;
				margin-bottom: 30px;
				padding-bottom: 100%;
			}

			.hl-team-desc {
				width: 100%;
			}
		}

		.hl-team-content {
			padding: 30px 0 15px;
		}
	}
}