#SinglePortfolio {
	display: flex;
	flex-wrap: wrap;
	jusitifyc-content: justify;
	margin: 30px auto 60px;

	.hl-portfolio-col {
		&:first-child {
			width: 40%;

			img {
				width: 100%;
				height: inherit !important;
			}
		}

		&:last-child {
			width: calc(60% - 30px);
			margin-left: 30px;

			.hl-portfolio-title {
				color: $rangoon-green;
				font-size: 20px;
			}

			.hl-portfolio-manager {
				color: $dove-gray;
				font-size: 16px;
				display: block;
				margin: 15px auto 30px;
			}

			.hl-portfolio-content {
				padding-bottom: 10px;
				border-bottom: 1px solid $mercury;

				p {
					font-weight: 200;
					color: $dove-gray;
					line-height: 1.6;
				}
			
				.hl-portfolio-btn {
					background-color: $astronaut-blue;
					display: inline-block;
				    outline: 1px solid #27282d;
				    outline-offset: 3px;
				    overflow: hidden;
				    padding: 12px 68px 10px 20px;
				    position: relative;
				    z-index: 9999;
				    text-transform: uppercase;
				    color: #fff;
				    font-weight: bold;
				    letter-spacing: 1.2px;
				    margin-top: 30px;
				    transistion: all 0.3s ease-in-out;

				    &::before {
				    	background-color: $c-white;
					    content: "";
					    height: 100%;
					    padding: 33px 34px;
					    position: absolute;
					    right: -27px;
					    top: -18px;
					    transform: rotate(62deg);
				    }

				    svg {
				    	color: $astronaut-blue;
					    font-size: 19px;
					    font-weight: bold;
					    height: 100%;
					    position: absolute;
					    right: 16px;
					    top: 50%;
					    transform: translateY(-50%);
					    transition: right 0.3s;
				    }

				    &:hover {
				    	color: $sandal;

				    	svg {
				    		right: 10px;
				    	}
				    }
				}
			}
		}
	}

	// TABLET
	@media only screen and (max-width: 768px) {
		.hl-portfolio-col {
			&:first-child {
				width: 50%;
			}

			&:last-child {
				width: calc(50% - 30px);
				margin-left: 30px;
			}
		}
	}

	// MOBILE
	@media only screen and (max-width: 480px) {
		margin: 30px auto;

		.hl-portfolio-col {
			&:first-child {
				width: 100%;
			}

			&:last-child {
				width: 100%;
				margin: 30px auto 0;
			}
		}
	}
}