#Testimonial {
	margin-bottom: 40px;

	.hl-posts-container {
		.hl-post  {
			padding: 20px 30px;

			.hl-post-content {
				font-weight: 200;

				p {
					margin-bottom: 5px;
					font-style: italic;
					font-size: 15px;
					letter-spacing: 0.2px;
    				line-height: 1.8;
				}
			}

			.hl-post-title {
				font-weight: 700;
				font-size: 15px;
				letter-spacing: 0.2px;
    			line-height: 1.8;
			}
		}	
	}
}